In [11]:
class product:
   def _init_(self):
    self.name = ""

shampoo = product()
shampoo.name = "シャンプー"
print(shampoo.name)

シャンプー

In [17]:
class Product:
    def __init__(self):
        self.name = ""

    # メソッドを定義する
    def set_name(self, name):
        self.name = name
    def show_name(self):
        print(self.name)

shampoo = Product()

# メソッドにアクセスして実行する
shampoo.set_name("シャンプー")
shampoo.show_name()

シャンプー

In [25]:

#15章

class Human:
    def  __init__(self, name, age):
        self.name = name
        self.age = age

    def printinfo(self):
        print(self)

human = Human("太郎",20)
print(human.name)
print(human.age)

太郎
20

In [ ]:
user_name = "花子"
def show_user_name():
  user_name = "侍太郎"

  print(user_name)
show_user_name()
print(user_name)

侍太郎
花子

In [ ]:
price1 = 100
price2 = 200
tax = 1.1

def total():

    return price1 + price2
    print(total)
print (total * tax)

TypeError: unsupported operand type(s) for *: 'function' and 'float'

In [ ]:
def one(price):
  total = price + 500
  print(total)

one(1000)

1500

In [ ]:
purchased = True

def is_purchased():
  if (purchased):
    return True
  else:
    return False

if is_purchased():
  print("商品を購入しました")

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-16-c4fab9373df3>, line 9)

In [ ]:
def price(marchandise,tax):
  return marchandise * tax

price(1000,1.1)

1100.0

In [ ]:
price1 = 100
price2 = 200
tax = 1.1

def total():

    return price1 + price2

print(total() * tax)

330.0